<%layout('layouts/boilerplate')%>
<form action="/addreviews/<%=findproduct._id%>" method="POST" class="needs-validation" novalidate>
<div>
 <label for="customRange2" class="form-label">Example range</label>
<input type="range" name="review[rating]" class="form-range" min="0" max="5" id="customRange2 "required>
</div>
<div class="form-floating">
    <label for="floatingTextarea2" class="btn-primary">Add a review</label>
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" name="review[body]" required></textarea>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
<button>submit</button>
   
  </div>
</form>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>